@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');

a {
  color: black !important;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.my-card{
margin-top: 30px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}